<!DOCTYPE html>
<html>
<head>
<th:block th:include="include/head"/>
<script>
$(function(){

	$(document).on("click","button",function(){
	
		let text = $(this).text()
		if(text == "회원가입") {
			document.location.href="/user/join"
		}
	})
	
	
})


</script>
</head>
<body>
<h2>여기는 Login form 입니다</h2>
<nav th:replace="include/layout :: nav" />

<!-- 
	th:href
	th:action 
	이 속성들은 rootPath(contextPath)를 
	자동으로 지정해주는 URL을 생성한다
 -->
<form th:action="@{login}" method="POST">

	<input type="hidden" 
		th:name="${_csrf.parameterName}"
		th:value="${_csrf.token}">
	<div>
		<label>USER NAME</label>
		<input name="username">
	</div>
	<div>
		<label>PASSWORD</label>
		<input name="password" type="password">
	</div>
	<div>
		<button>LOG IN</button>
		<button type="button">회원가입</button>
	</div>
</form>
<footer th:replace="include/layout :: footer" />
</body>
</html>