<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<table>
	<tr>
		<th>도서명</th>
		<th>출판사</th>
		<th>출판연도</th>
		<th>저자</th>
		<th>가격</th>
	</tr>
	<tr th:each="book:${bookList}">
		<td th:text="${book.title}">도서명</td>
		<td th:text="${book.comp}">출판사</td>
		<td th:text="${book.year}">출판연도</td>
		<td th:text="${book.auth}">저자</td>
		<td th:text="${book.price}">가격</td>
	</tr>

</table>
<th:block th:include="page"/>
</body>
</html>